/proyecto_sc202_g6/build/

/proyecto_sc202_g6/nbproject/build-impl.xml
/proyecto_sc202_g6/nbproject/genfiles.properties
/proyecto_sc202_g6/nbproject/project.properties
/proyecto_sc202_g6/nbproject/project.xml